@use './vars' as *;

* {
	box-sizing: border-box;
	transition: .4s;
}

body {
	background: $neutral-100;
	color: $neutral-800;
	font-family: Arial, Helvetica, sans-serif;
}



.img-wrapper {
	width: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;

		&.cover {
			object-fit: cover;
		}
	}

	&.zoom {
		overflow: hidden;
		transition: .2s ease-in-out;

		&:hover {
			img {
				scale: 1.05;
			}
		}
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

a[type="button"] {

	&:hover,
	&:focus-visible,
	&:focus-within {
		opacity: 0.9;
	}
}

button {
	cursor: pointer;
}

input {
	background-color: $neutral-50;
	border: 1px solid $neutral-200;
	border-radius: 8px;
	width: 100%;
	min-height: 48px;
	outline: 1px solid transparent;

	&::placeholder {
		font-size: 16px;
		color: $neutral-600;
	}

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: 1px solid $neutral-100;
	}
}

.img-shadow {
	filter: drop-shadow(0px 0px 1px hsl(0deg 0% 0% / 67%));
}

.animation-scale-down {
	animation: scale-down .4s ease;
}

.btn {
	transition: .2s ease-out;

	&:hover {
		opacity: 0.9;

		.arrow-icon {
			left: 8px;
		}
	}

	&.animation-up {
		&:hover {
			background-color: $neutral-1000;
			opacity: 0.9;
			transform: translateY(-2px);
		}
	}

	&-secondary {
		&:hover {
			background-color: $neutral-100;
		}
	}
}


@keyframes scale-down {
	from {
		scale: 0.94
	}

	to {
		scale: 1
	}
}